@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(..//images/bg-main-desktop.png);
    background-repeat: no-repeat;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 1140px;
    height: 10px;
}

#container-right {
    display: inline;
    display: grid;
    justify-content: end;
    justify-items: end;
    /*  grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr); */
}

/* #box-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
} */

form {
    display: grid;
    justify-content: center;
    margin-left: 70%;
    margin-top: 9%;
    gap: 10px;
    grid-column: 3 /4;
}

#card-name {
    margin-top: 50%;
    grid-row: 1 / 3;

}

#name {
    display: grid;
    padding: 6px;
    margin-bottom: 10px;
    width: 300px;
    margin-top: 5px;
}

#number-srch {
    padding: 6px;
    margin-bottom: 10px;
    width: 300px;
    margin-top: 5px;
}

#card-details {
    display: flex;
    flex-direction: column;
}

#card-cvc {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

#card-information {
    display: flex;
    flex-direction: row;
}

#mm {
    display: flex;
    padding: 6px;
    width: 50px;
    height: 20px;
    margin-top: 5px;

}

#yy {
    display: flex;
    padding: 6px;
    width: 50px;
    height: 20px;
}

#cvc {
    padding: 6px;
    width: 40px;
    height: 20px;
    margin-top: 5px;
}

button {
    display: block;
    background-color: hsl(278, 68%, 11%);
    border-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    border-radius: 4px;
    width: 310px;
    padding: 5px;
    margin-top: 10px;
}

.card-front {
    display: flex;
    margin-left: 11%;
    position: relative;
    bottom: 350px;
}

.card-back {
    display: flex;
    margin-left: 17%;
    margin-top: 2%;
    position: absolute;
    top: 350px;
}

img {
    position: absolute;
    top: 25%;
}

input {
    border-radius: 4px;
}

#front-container {
    z-index: 2;
}

.card-logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

#numero {
    color: hsl(0, 0%, 100%);
    letter-spacing: 2px;
    position: absolute;
    top: 9rem;
    left: 3rem;
}

#card-extra-details {
    position: absolute;
    top: 13rem;
    left: 1rem;
    right: 3rem;
    /* display: flex;
    justify-content: space-between; */
    color: hsl(0, 0%, 100%);
}