@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  background-color: hsl(213, 44%, 95%);
}

#contenedor1 {
  display: grid;
  grid-template-columns: 4fr;
  grid-template-areas:
    "daniel"
    "jonathan"
    "jeanette"
    "patrick"
    "kira";
  grid-template-rows: 1fr 0.5fr 0.5fr 0.7fr 1fr;
  gap: 30px;
  width: 83%;
  height: 300%;
  margin: 0 auto;
}

h2 {
  font-weight: 600;
  margin-top: 10px;
}

p {
  font-weight: 500;
  margin-top: 7px;
  line-height: 1.4;
}

/*tarjetas*/
#card-violet-daniel {
  background-color: hsl(263, 55%, 52%);
  border-radius: 9px;
  grid-area: daniel;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-repeat: no-repeat;
  background-position: 90% 2%;
  background-image: url(../imágenes/bg-pattern-quotation.svg);
}

#card-jonathan {
  background-color: hsl(217, 19%, 35%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 9px;
  grid-area: jonathan;
  padding: 30px;
}

#card-jeanette {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 9px;
  grid-area: jeanette;
  padding: 30px;
}

#card-patrick {
  background-color: hsl(219, 29%, 14%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 9px;
  grid-area: patrick;
  padding: 30px;
}

#card-kira {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 9px;
  grid-area: kira;
  padding: 30px;
}

img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.contenedor {
  display: flex;
}

/*imagenes*/
.daniel {
  border: 2px solid white;
}

.jonathan {
  border: 2px solid white;
}

.patrick {
  border: 2px solid purple;
}

ul {
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-left: 20px;
  list-style: none;
  font-weight: 500;
  font-size: 13px;
}

ul :first-child {
  font-size: 15px;
  margin-bottom: 4px;
}

/* tarjetas de daniel,jonathan, patrick*/
.gray {
  color: hsl(197, 100%, 99%);
}

.verificado-gray {
  color: hsl(0 0% 81% /0.5);
}

.text-revision {
  color: hsl(0 0% 81% /0.7);
}

/*tarjetas de jeannete & kira*/

.text-name {
  color: hsl(215, 7%, 34%);
}

.verified {
  color: hsl(215 7% 34% /0.5);
}

.text {
  color: hsl(217, 14%, 33%);
}

.parrafo-revision {
  color: hsl(210, 4%, 74%);
}
@media (min-width: 1200px) and (max-width: 1440px) {
  body{
      margin-top: 30px;
    }
  #contenedor1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 0.1fr);
    width: 1115px;
    margin: 0 auto;
  }

  #card-violet-daniel {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-position: 79% 2%;
  }

  #card-jonathan {
    grid-column: 3 / 4;
    grid-row: 1;
    padding: 30px;
  }

  #card-jeanette {
    grid-column: 1 / 2;
    grid-row: 2;
    padding: 30px;
  }

  #card-patrick {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    padding: 30px;
  }

  #card-kira {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    padding: 30px;
  }
}

@media (min-width: 1440px) {
  body {
    height: 800px;
  }
  #contenedor1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    height: 20%;
    margin: 0 auto;
  }

  #card-violet-daniel {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-position: 79% 2%;
  }

  #card-jonathan {
    grid-column: 3 / 4;
    grid-row: 1;
    padding: 30px;
  }

  #card-jeanette {
    grid-column: 1 / 2;
    grid-row: 2;
    padding: 30px;
  }

  #card-patrick {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    padding: 30px;
  }

  #card-kira {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    padding: 30px;
  }
}
